$chatbox_height: 10em;
$chatbox_bar_height: 1.5em;

body{
    overflow: hidden;
}

/****************************************************************************/

.implicit-unsafe {
    background-color: #FFBBBB;
}

/****************************************************************************/

.chat-box-container {
    position: absolute;
    height: $chatbox_height;
    bottom: -1px;
    left: 0px;
    right: 0px;
    background-color: #040689;
}

.chat-box {
    padding:$chatbox_bar_height 0;
    position:absolute; top:0; bottom:0; left:0; right:0;
}
.chat-box textarea {
    min-height:100%; 
    border: none; 
    width: 100%;
    resize: none;
    margin: 0px; padding: 0px;
}
.chat-box .top {margin-top:-$chatbox_bar_height;}
.chat-box .bottom {margin-bottom:-$chatbox_bar_height;}
.chat-box .top,.bottom {
    color: #FFFFFF;
    line-height: $chatbox_bar_height;
    height: $chatbox_bar_height;
    padding: 0px;
}
.chat-box .line{
    height: 100%;
    display: table-cell; vertical-align: middle;
    font-size: 0.8em;
    padding: 0px 0.5em 0px 0.5em;
}

.chat-box .top .buddyName{
    font-weight: bold;
}

/****************************************************************************/

.chat-history{
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-history-scroll{
    position: relative;
    padding: 0.5em;
}
